@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--DARK-BLUE-DM: hsl(209, 23%, 22%);
	--VDARK-BLUE-DM: hsl(207, 26%, 17%);
	--VDARK-BLUE-LM: hsl(200, 15%, 8%);
	--DARK-GRAY-LM: hsl(0, 0%, 52%);
	--VLIGHT-GRAY-LM: hsl(0, 0%, 98%);
	--WHITE: hsl(0, 0%, 100%);

	--BORDER-RADIUS: 5px;
}

body {
	min-height: 100vh;
	max-width: 100vw;
	color: var(--WHITE);
	font-family: "Nunito Sans", sans-serif;
	font-size: 14px;
	background-color: var(--VDARK-BLUE-DM);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.Header {
	width: 100%;
	height: 70px;
	font-size: 22px;
	display: flex;
	align-items: center;
	padding-left: 50px;
	background-color: var(--DARK-BLUE-DM);
	margin-bottom: 40px;
}

.SearchAndFilter {
	display: flex;
	justify-content: space-between;
	margin-right: 50px;
}

.SearchCountryForm {
	margin: 0 0 40px 50px;
	width: max(300px, 36%);
	height: 50px;
	background-color: var(--DARK-BLUE-DM);
	display: flex;
	align-items: center;
	padding-left: 20px;
	gap: 20px;
	border-radius: 5px;
}

.SearchIcon {
	transform: translateY(6px) scale(1.7);
}

.SearchCountryForm > input {
	width: 80%;
	background-color: var(--DARK-BLUE-DM);
	border: none;
	border-radius: 5px;
	color: var(--WHITE);
	outline: none;
}

.SearchCountryForm > input::placeholder {
	color: var(--WHITE);
}

.FilterRegions {
	height: 50px;
	background-color: var(--DARK-BLUE-DM);
	border: none;
	outline: none;
	border-radius: 5px;
	color: var(--WHITE);
	width: max(130px, 15%);
	padding: 10px;
}

.Countries {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 50px;
	margin: 0 50px 0 50px;
	cursor: pointer;
}

.CountryInfo {
	background-color: var(--DARK-BLUE-DM);
	border-radius: var(--BORDER-RADIUS);
}

.CountryFlagHome {
	width: 100%;
	aspect-ratio: 160/98;
	border-radius: var(--BORDER-RADIUS) var(--BORDER-RADIUS) 0 0;
}

.CountryNameHome {
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 20px;
}

.CountryInfo > ul {
	list-style: none;
	padding: 20px;
}

.InfoSectionHome {
	font-weight: 600;
}

.AllInfoDetail {
	margin-left: 70px;
}

.GoBackButton {
	margin-bottom: 80px;
	width: 100px;
	height: 30px;
	background-color: var(--DARK-BLUE-DM);
	color: var(--WHITE);
	border: none;
	border-radius: var(--BORDER-RADIUS);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 15px;
	cursor: pointer;
}

.ArrowIcon {
	transform: translateY(3px) scale(1.4);
}

.MainNameDetail {
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 30px !important;
}

.MainInfoDetail {
	display: flex;
	align-items: center;
	font-size: 16px;
	gap: 80px;
}

.MainInfoDetail img {
	width: 40%;
}

.MainInfoDetail ul {
	display: flex;
	gap: 50px;
	list-style: none;
}

.MainInfoDetail li {
	margin-bottom: 7px;
}

.FontDetail {
	font-weight: 600;
}

.BorderCountries {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 20px;
	font-size: 20px;
}

.BorderCountriesString {
	font-weight: 600;
}

.BorderCountries ul {
	display: flex;
	gap: 5px;
	align-items: center;
	flex-wrap: wrap;
}

.BorderCountries li {
	margin: 0 10px;
	border-radius: 3px;
	background-color: var(--DARK-BLUE-DM);
	padding: 5px 15px;
}

@media screen and (width < 1030px) {
	.Countries {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (width < 780px) {
	.AllInfoDetail {
		margin: 0 40px;
	}

	.MainInfoDetail {
		flex-direction: column;
	}

	.MainInfoDetail img {
		width: 100%;
	}

	.Countries {
		grid-template-columns: repeat(2, 1fr);
	}

	.SearchCountryForm {
		width: 40%;
	}
}

@media screen and (width < 530px) {
	.Countries {
		grid-template-columns: repeat(1, 1fr);
	}
	.SearchCountryForm {
		width: 50%;
	}
	.AllInfoDetail {
		margin: 0 20px;
	}

	.MainInfoDetail > article > ul {
		flex-direction: column;
	}

	.BorderCountries {
		flex-direction: column;
	}
}
